@charset "UTF-8";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../images/background-spot.svg");
    background-size: cover;
}

/* main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

#container1{
    margin-top: 60px;
    border-radius: 10px;
    height: 50px;
    color: #f2f2f2;
}

#navsub{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

#navsub a{
    padding-top: 10px;
}

#container2{
    background-color: #f2f2f2;
    padding-top: 20px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
    gap: 10px;
}

/* .carousel{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
} */

.card{
    width: 32%;
}

.footnav{
    background-color: rgba(245, 230, 232, 1);
    height: 5vh;
}