@charset "UTF-8";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../images/background-spot.svg");
    background-size: cover;
}

.container{
    height: 90vh;
}

.footnav{
    background-color: rgba(245, 230, 232, 1);
    height: 5vh;
}